@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #fff;
}
.sidebar{
    position: fixed;
    overflow-y: auto;
    top: 0;
    height: 100%;
    width: 318px;
    padding: 20px 0;
    left: -30px;
    background-color: #e3f2fd;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
  width: 300px;
  z-index: 9000;
}
.sidebar-content .list {
  list-style: none;
}
.nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #4070f4;
}
.icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}
.nav-link.active{
    background-color: #4070f4;
}
.nav-link.active .link, .nav-link.active .icon{
    color: #fff;
    background-color: #4070f4;
}